.bg-verde{
    background-color: #e5fae9;
}

.btn-verde {
    background-color: #27a844;
    border-radius: 0;
    color: white;
    text-decoration: none;
    text-align: center;
}

.bg-gris {
    background-color: #6c757c;
}

.w-35 {
    width: 35%;
}
.bg-suave{
background-color: rgb(229, 250, 233);
}
.bg-oscuro{
background-color: rgb(216, 237, 220);
}